<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <script th:href="@{/js/bootstrap.js}"></script>
</head>
<body>
    <h1>To-Do</h1>
    <form th:action="@{/addTodo}" th:object="${todo}" method="post">
        <p>Title: <input type="text" th:field="*{title}"></p>
        <p>Detail: <input type="text" th:field="*{detail}"></p>
        <p><button type="submit" class="btn btn-success">Thêm công việc</button> </p>
    </form>
</body>
</html>