<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <script th:href="@{/js/bootstrap.js}"></script>
    <title>Todo App</title>
</head>
<body>
    <h1>List todo</h1>
    <ul>
        <li th:each="todo:${todoList}">
            <span th:text="*{todo.getTitle()}"></span> : <span th:text="*{todo.getDetail}"></span>
        </li>
    </ul>
    <a th:href="@{/addTodo}" class="btn btn-success">Add todo</a>
</body>
</html>